<!--<div class="lists-scroll" ng-controller="userListController" ng-init="loadUserLists('userId')">
    <ul class="lists-collection">
        <li ng-repeat="list in userLists" aria-label="" data-position="0" rel="237758426" draggable="true" class="sidebarItem list draggable shared member unreadComments overdue" tabindex="0" role="menuitem">
            <a ng-href="#!/list/{{listdS.Id}}/todoitems" aria-hidden="true">
                <span class="title">
                    {{listd.Title}}
                </span>
                <span class="overdue-count" aria-hidden="true">
                    1
                </span>
                <span class="count" aria-hidden="true">
                    1
                </span>
            </a>
        </li>
    </ul>
</div>-->