<div class="content">
    <div class="settings-content-inner-wrapper">
        <div class="settings-content-inner account">
            <div class="settings">
                <!-- Picture -->
                <div class="separator">
                    <div class="cols">
                        <div class="col-100">
                            <div style="width: 100%" class="avatar-frame">
                                <div style="width: 100%" class="avatar large hover choose">
                                    <span style="display: block;" class="icon options">
                                    </span>
                                    <img class="opaque" src="blob:https://www.wunderlist.com/5d01cb3c-61e6-42ab-bc78-616ba980a2e6">
                                    <div class="drop-message">
                                        <span>
                                            <text rel="settings_account_drop_image">
                                                Перетащите фото сюда
                                            </text>
                                        </span>
                                    </div>
                                    <div class="message error hidden">
                                        <span>
                                            <text rel="file_uploaded_failed">
                                                Не удалось добавить файл. Попробуйте еще раз.
                                            </text>
                                        </span>
                                    </div>
                                    <div class="state loading spinner">
                                        <span class="dark">
                                        </span>
                                    </div>
                                </div>
                                <div class="avatar-upload">
                                    <div class="drop-zone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="thumbnails">
                    <li class="span4">
                        <a href="#" class="thumbnail">
                            <img src="data:image/JPEG;base64,{{image}}" />
                        </a>
                    </li>
                </ul>
                <form ng-submit="SaveFile()">
                    <p style="display:none">{{userId=userProfile.Id}}</p>
                    <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" />
                    <input type="submit" value="Upload File" />
                </form>

                <!-----------------------------------------------PERSONAL------------------------------------------------------>
                <!-----------------------------------------------PERSONAL------------------------------------------------------>

                <div class="modal-body">


                    <!-- Форма -->
                    <form name="personalForm" role="form" class="form-horizontal">


                        <p style="display:none">{{model.Id=userProfile.Id}}</p>

                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Name:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" ng-model="model.Name" value={{userProfile.Name}} placeholder={{userProfile.Name}} required="required" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Email:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input class="form-control" ng-model="model.Email" value={{userProfile.Email}} placeholder={{userProfile.Email}} required="required" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="cols">
                            <div class="col-50">
                                <button aria-label="Отмена" ng-click="cancel()" class="full" data-key-aria-label="button_cancel" tabindex="0">
                                    <text rel="button_cancel">
                                        Cancel
                                    </text>
                                </button>
                            </div>
                            <div class="col-50">
                                <button aria-label="Сохранить" ng-click="savePersonal(model,personalForm)" class="full blue" tabindex="0">
                                    <text rel="button_save">
                                        Save
                                    </text>
                                </button>
                            </div>
                        </div>
                        <br />

                        <div class="modal-footer">
                        </div>

                    </form>

                </div>

                <!-----------------------------------------------PASSWORD------------------------------------------------------>
                <!-----------------------------------------------PASSWORD------------------------------------------------------>
                <div class="modal-body">


                    <!-- Форма-->
                    <form name="passwordForm" role="form" class="form-horizontal">

                        <p style="display:none">{{passmodel.Id=userProfile.Id}}</p>

                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Password:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" ng-model="passmodel.OldPassword" placeholder="Password" required="required" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">New Password:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input class="form-control" ng-model="passmodel.NewPassword" placeholder="New Password" required="required" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-xs-3">Confirm Password:</label>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input class="form-control" ng-model="passmodel.ConfirmPassword" placeholder="Confirm Password" required="required" />
                                </div>
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>

                        <div class="cols">
                            <div class="col-100">
                                <button aria-label="Сохранить" ng-click="changePassword(passmodel,passwordForm)" class="full blue" tabindex="0">
                                    <text rel="button_save">
                                        Change
                                    </text>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
