@{
    ViewBag.Title = "MainPage";
}

<html ng-app="myApp">
<head>


</head>

<body>

    <div ng-view></div>



    <a href="#!/home">home</a>
    <a href="#!/route/1">order</a>


    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/route/app.js"></script>
    <script src="~/Scripts/controllers/RouteController.js"></script>
    <script src="~/Scripts/services/listService.js"></script>
    
</body>
</html>



