
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Wunderlist.css" rel="stylesheet" />
</head>
<body id="wunderlist-base" role="application" class="wlapp-parent animate background-16 focus-settings" style="opacity: 1;">
    <div class="main-interface">
        <div id="modals">
            <ul class="reminders dialog-wrapper"></ul>
            @*<div class="dialog-wrapper">
                    <div id="settings" class="dialog preferences shown">
                        <div class="content">
                            <div class="tabs">
                                <ul role="tabpanel">
                                    <li aria-label="Общие" role="tab" tabindex="0" data-key-aria-label="settings_heading_general">
                                        <a rel="general">
                                            <span class="icon settings-general">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_general">
                                                    Общие
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="active" aria-label="Учетная запись" role="tab" tabindex="0" data-key-aria-label="settings_heading_account">
                                        <a rel="account">
                                            <span class="icon settings-account">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_account">
                                                    Учетная запись
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li aria-label="Бизнес" class="teams" role="tab" tabindex="0" data-key-aria-label="settings_heading_team">
                                        <a rel="team-manage">
                                            <span class="icon settings-group">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_team">
                                                    Бизнес
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="tab" tabindex="0" data-key-aria-label="">
                                        <a rel="shortcuts">
                                            <span class="icon settings-shortcuts">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_shortcuts">
                                                    Сочетания клавиш
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="tab" tabindex="0" data-key-aria-label="">
                                        <a rel="sidebar">
                                            <span class="icon settings-sidebar">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_sidebar">
                                                    Смарт-списки
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="tab" tabindex="0" data-key-aria-label="">
                                        <a rel="notifications">
                                            <span class="icon settings-notifications">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_notification">
                                                    Уведомления
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                    <li aria-label="Сведения" role="tab" tabindex="0" data-key-aria-label="settings_heading_about">
                                        <a rel="about">
                                            <span class="icon settings-about">
                                            </span>
                                            <span class="tab-label">
                                                <text rel="settings_heading_about">
                                                    Сведения
                                                </text>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="settings-content-inner-wrapper">
                                <div class="settings-content-inner account">
                                    <div class="settings">
                                        <!-- Picture -->
                                        <div class="separator">
                                            <div class="cols">
                                                <div class="col-32">
                                                    <div class="avatar-frame">
                                                        <div class="avatar large hover choose">
                                                            <span class="icon options">
                                                            </span>
                                                            <img src="blob:https://www.wunderlist.com/716b58b9-47d4-45a7-937e-0fbf6877ed8c">
                                                            <div class="drop-message">
                                                                <span>
                                                                    <text rel="settings_account_drop_image">
                                                                        Перетащите фото сюда
                                                                    </text>
                                                                </span>
                                                            </div>
                                                            <div class="message error hidden">
                                                                <span>
                                                                    <text rel="file_uploaded_failed">
                                                                        Не удалось добавить файл. Попробуйте еще раз.
                                                                    </text>
                                                                </span>
                                                            </div>
                                                            <div class="state loading spinner">
                                                                <span class="dark">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="avatar-upload">
                                                            <div class="drop-zone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-68">
                                                    <div class="pro-status-wrapper">
                                                        <div class="pro-status pro-section-style tabStart" tabindex="0">
                                                            <h3>
                                                                <text rel="settings_account_header_account_$" data="$settings_account_header_free">
                                                                    Учетная запись <token class="token_0" title="Бесплатно">
                                                                        Бесплатно
                                                                    </token>
                                                                </text>
                                                            </h3>
                                                            <p>
                                                                <text rel="settings_account_pro_description">
                                                                    Вы можете назначать задачи коллегам и добавлять к ним файлы. Совместная работа еще никогда не была настолько простой!
                                                                </text>
                                                            </p>
                                                            <a aria-label="Перейти на Wunderlist Pro" class="button big left green go-pro" data-path="preferences/account/pro" data-key-aria-label="settings_upgrade_to_pro_label" data-aria-label="$benefit_name" tabindex="0">
                                                                <strong>
                                                                    <text rel="settings_upgrade_to_pro_label" data="$benefit_name">
                                                                        Перейти на <token class="token_0" title="Wunderlist Pro">
                                                                            Wunderlist Pro
                                                                        </token>
                                                                    </text>
                                                                </strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator basic-account-settings">
                                            <!-- Full Name -->
                                            <div class="cols">
                                                <div class="col-32 text-right">
                                                    <text rel="label_name">
                                                        Имя
                                                    </text>
                                                </div>
                                                <div class="col-68">
                                                    <input aria-label="Имя" placeholder="Имя" id="edit-full-name" data-key-aria-label="label_name" data-key-placeholder="label_name" value="Павел Гаманович" initial-value="" tabindex="0" type="text">
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="cols">
                                                <div class="col-32 text-right">
                                                    <text rel="label_email">
                                                        Электронная почта
                                                    </text>
                                                </div>
                                                <div class="col-40">
                                                    <input aria-label="Электронная почта" placeholder="Электронная почта" id="edit-email" data-key-aria-label="label_email" data-key-placeholder="label_email" value="gamanovichpavel@gmail.com" initial-value="" disabled="" tabindex="0" type="text">
                                                </div>
                                                <div class="col-28">
                                                    <button aria-label="Изменить адрес электронной почты" id="change-email" class="full" data-key-aria-label="settings_account_change_email" tabindex="0">
                                                        <text rel="settings_account_change_email">
                                                            Изменить адрес электронной почты
                                                        </text>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Password for email confirm -->
                                            <div class="cols password-confirm">
                                                <div class="col-32 text-right">
                                                    <text rel="label_password">
                                                        Пароль
                                                    </text>
                                                </div>
                                                <div class="col-40">
                                                    <input aria-label="Пароль" id="edit-email-pw-confirm" data-key-aria-label="label_password" disabled="" tabindex="0" type="password">
                                                </div>
                                                <div class="col-28">
                                                </div>
                                            </div>
                                            <!-- Change Email -->
                                            <div class="cols change-email-buttons">
                                                <div class="col-32 text-right">
                                                </div>
                                                <div class="col-40">
                                                    <div class="cols email-error error-message">
                                                        <div class="col-100">
                                                            <text rel="api_error_incorrect_password">
                                                                Неверный пароль.
                                                            </text>
                                                        </div>
                                                    </div>
                                                    <div class="cols">
                                                        <div class="col-50">
                                                            <button aria-label="Отмена" class="full" id="cancel-email" data-key-aria-label="button_cancel" tabindex="0">
                                                                <text rel="button_cancel">
                                                                    Отмена
                                                                </text>
                                                            </button>
                                                        </div>
                                                        <div class="col-50">
                                                            <button aria-label="Сохранить" class="full blue disabled" id="save-email" disabled="" data-key-aria-label="button_save" tabindex="0">
                                                                <text rel="button_save">
                                                                    Сохранить
                                                                </text>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-28">
                                                </div>
                                            </div>
                                            <!-- Additional Emails -->
                                            <div class="cols">
                                                <div class="col-32 text-right">
                                                </div>
                                                <div class="col-68">
                                                    <p class="settings-account-manage-emails">
                                                        <a href="/account/emails" target="_blank">
                                                            <text rel="settings_account_manage_emails">
                                                                Добавление и изменение адресов электронной почты
                                                            </text>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Change Password -->
                                            <div class="cols show-password-buttons">
                                                <div class="col-32 text-right">
                                                    <text rel="label_password">
                                                        Пароль
                                                    </text>
                                                </div>
                                                <div class="col-40">
                                                    <input aria-label="Текущий пароль" placeholder="Текущий пароль" class="old-password" data-key-placeholder="settings_account_current_password" data-key-aria-label="settings_account_current_password" tabindex="0" type="password">
                                                    <button aria-label="Изменить пароль…" id="change-password" class="full" data-key-aria-label="settings_account_change_password" tabindex="0">
                                                        <text rel="settings_account_change_password">
                                                            Изменить пароль…
                                                        </text>
                                                    </button>
                                                </div>
                                                <div class="col-28">
                                                </div>
                                            </div>
                                            <div class="cols change-password-buttons">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-40">
                                                    <div class="cols">
                                                        <div class="col-100">
                                                            <input aria-label="Новый пароль" placeholder="Новый пароль" class="new-password" data-key-placeholder="settings_account_new_password" data-key-aria-label="settings_account_new_password" tabindex="0" type="password">
                                                        </div>
                                                    </div>
                                                    <div class="cols">
                                                        <div class="col-100">
                                                            <input aria-label="Повторите новый пароль" placeholder="Повторите новый пароль" id="confirm-password" class="confirm-password" data-key-placeholder="settings_account_repeat_new_password" data-key-aria-label="settings_account_repeat_new_password" tabindex="0" type="password">
                                                        </div>
                                                    </div>
                                                    <div class="cols change-password-error error-message">
                                                        <div class="col-100">
                                                            <text rel="settings_account_change_password_error">
                                                                При попытке изменить пароль произошла ошибка. Попробуйте еще раз.
                                                            </text>
                                                        </div>
                                                    </div>
                                                    <div class="cols">
                                                        <div class="col-50">
                                                            <button aria-label="Отмена" class="full" id="cancel-password" data-key-aria-label="button_cancel" tabindex="0">
                                                                <text rel="button_cancel">
                                                                    Отмена
                                                                </text>
                                                            </button>
                                                        </div>
                                                        <div class="col-50">
                                                            <button aria-label="Сохранить" class="full blue" id="save-password" data-key-aria-label="button_save" tabindex="0">
                                                                <text rel="button_save">
                                                                    Сохранить
                                                                </text>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-28">
                                                </div>
                                            </div>
                                        </div>
                                        <div aria-label="Сохраненные данные включают все списки, задачи, подзадачи, заметки и напоминания. Обратите внимание на то, что в эти данные не входят списки, которыми с вами поделились другие пользователи, файлы, комментарии, участники общих списков и предыдущие настройки приложения." class="separator account-backup-settings" data-key-aria-label="settings_account_backup_description" tabindex="0">
                                            <div class="cols">
                                                <div class="col-32 text-right">
                                                    <text rel="settings_account_account_backup">
                                                        Резервная копия учетной записи
                                                    </text>
                                                </div>
                                                <div class="col-35 export">
                                                    <a aria-label="Создать резервную копию" class="button full export-start" role="button" data-key-aria-label="settings_account_create_backup" tabindex="0">
                                                        <text rel="settings_account_create_backup">
                                                            Создать резервную копию
                                                        </text>
                                                    </a>
                                                </div>
                                                <div class="col-33 import">
                                                    <div class="restoreData">
                                                        <a aria-label="Импортировать данные резервной копии" class="button full restore-data" role="button" data-key-aria-label="settings_account_restore_backup" tabindex="0">
                                                            <span class="dark">
                                                            </span>
                                                            <text rel="settings_account_restore_backup">
                                                                Импортировать данные резервной копии
                                                            </text>
                                                        </a>
                                                        <input class="hidden" accept="application/json" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cols back-up-error hidden">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-68">
                                                    <text rel="api_error_service_down">
                                                        Произошел сбой в работе серверов Wunderlist. Повторите попытку и проверьте, нет ли обновлений на странице status.wunderlist.com.
                                                    </text>
                                                </div>
                                            </div>
                                            <div class="cols backup-feedback hidden">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-68">
                                                    <text rel="settings_account_data_is_being_processed">
                                                        Минуточку, данные резервной копии обрабатываются.
                                                    </text>
                                                </div>
                                            </div>
                                            <div class="cols backup-complete hidden">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-68">
                                                    <text rel="settings_account_import_complete">
                                                        Обработка данных резервной копии завершена.  Резервная копии находится ниже текущих списков.
                                                    </text>
                                                </div>
                                            </div>
                                            <div class="cols">
                                                <div class="col-32 text-right">
                                                </div>
                                                <div class="col-68">
                                                    <small>
                                                        <text rel="settings_account_backup_description">
                                                            Сохраненные данные включают все списки, задачи, подзадачи, заметки и напоминания. Обратите внимание на то, что в эти данные не входят списки, которыми с вами поделились другие пользователи, файлы, комментарии, участники общих списков и предыдущие настройки приложения.
                                                        </text>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Pro Account Status -->
                                        <!-- Google -->
                                        <div class="invoice-downloader separator hidden">
                                        </div>
                                        <div class="separator google-connect-settings">
                                            <div class="cols google">
                                                <div class="col-32 text-right">
                                                    Google
                                                </div>
                                                <div class="col-40">
                                                    <button aria-label="Связаться с нами" class="full connect  hidden" role="button" data-key-aria-label="button_connect" tabindex="0">
                                                        <text rel="button_connect">
                                                            Связаться с нами
                                                        </text>
                                                    </button>
                                                    <button aria-label="Отключиться" class="full disconnect" role="button" data-key-aria-label="button_disconnect" tabindex="0">
                                                        <text rel="button_disconnect">
                                                            Отключиться
                                                        </text>
                                                    </button>
                                                </div>
                                                <div class="col-28">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Facebook -->
                                        <div class="separator facebook-connect-settings">
                                            <div class="facebook">
                                                <div class="cols">
                                                    <div class="col-32 text-right">
                                                        Facebook
                                                    </div>
                                                    <div class="col-40">
                                                        <button aria-label="Подключиться через Facebook" class="full connect" role="button" data-key-aria-label="button_connect_facebook" tabindex="0">
                                                            <text rel="button_connect">
                                                                Связаться с нами
                                                            </text>
                                                        </button>
                                                        <button aria-label="Отключиться" class="full disconnect hidden" role="button" data-key-aria-label="button_disconnect" tabindex="0">
                                                            <text rel="button_disconnect">
                                                                Отключиться
                                                            </text>
                                                        </button>
                                                    </div>
                                                    <div class="col-28">
                                                    </div>
                                                </div>
                                                <div class="cols">
                                                    <div class="col-32">
                                                    </div>
                                                    <div class="col-68">
                                                        <span class="icon facebook-icon">
                                                        </span>
                                                        <p>
                                                            <small>
                                                                <text rel="settings_account_connect_facebook_account">
                                                                    Подключение аккаунта Google или Facebook упростит вход в систему.
                                                                </text>
                                                            </small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ICS -->
                                        <div class="separator ics-container">
                                            <div class="ICS">
                                                <div class="separator">
                                                    <div class="ics">
                                                        <div class="cols">
                                                            <div class="col-32 text-right">
                                                                <text rel="ical_feed_label">
                                                                    Канал календаря
                                                                </text>
                                                            </div>
                                                            <div class="col-68">
                                                                <input value="Получение канала календаря…" class="ics-link" data-key-value="ical_feed_fetching" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="cols">
                                                            <div class="col-32">
                                                            </div>
                                                            <div class="col-68">
                                                                <p>
                                                                    <small>
                                                                        <text rel="ical_feed_description">
                                                                            Добавьте эту ссылку в iCal, Google&nbsp;Календарь или Outlook, чтобы видеть все задачи с датой выполнения в своем календаре.
                                                                        </text>
                                                                    </small>
                                                                </p>
                                                                <p>
                                                                    <small>
                                                                        <a href="https://support.wunderlist.com/customer/portal/articles/1710196-how-to-show-wunderlist-tasks-in-google-calendar-ical-or-outlook" target="_blank">
                                                                            <text rel="ical_feed_read_more_link">
                                                                                Подробнее о канале календаря Wunderlist
                                                                            </text>
                                                                        </a>
                                                                    </small>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Delete Account -->
                                        <div class="separator noline delete-form" tabindex="0">
                                            <div class="cols delete-account-heading">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-68">
                                                    <h3>
                                                        <text rel="settings_account_delete_account_confirm">
                                                            Вы действительно хотите удалить учетную запись?
                                                        </text>
                                                    </h3>
                                                    <p>
                                                        <text rel="settings_account_delete_account_confirm_text">
                                                            При удалении вы потеряете все свои списки и задачи и не сможете их восстановить.
                                                        </text>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="cols delete-account-password">
                                                <div class="col-32 text-right">
                                                    <text rel="settings_account_current_password">
                                                        Текущий пароль
                                                    </text>
                                                </div>
                                                <div class="col-68">
                                                    <input aria-label="Текущий пароль" class="delete-password" data-key-aria-label="settings_account_current_password" tabindex="0" type="password">
                                                </div>
                                            </div>
                                            <div class="cols delete-account-confirm">
                                                <div class="col-32 text-right">
                                                    <text rel="settings_account_delete_confirmation">
                                                        Введите «Подтверждаю»
                                                    </text>
                                                </div>
                                                <div class="col-68">
                                                    <input aria-label="Введите «Подтверждаю»" class="delete-confirm" data-key-aria-label="settings_account_delete_confirmation" tabindex="0" type="text">
                                                </div>
                                            </div>
                                            <div class="cols delete-password-error error-message">
                                                <div class="col-100 text-right">
                                                    <text rel="api_error_incorrect_password">
                                                        Неверный пароль.
                                                    </text>
                                                </div>
                                            </div>
                                            <div class="cols text-right">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-34">
                                                    <button aria-label="Отмена" class="full" id="cancel-delete-account" data-key-aria-label="button_cancel" tabindex="0">
                                                        <text rel="button_cancel">
                                                            Отмена
                                                        </text>
                                                    </button>
                                                </div>
                                                <div class="col-34">
                                                    <button aria-label="Удалить" class="full red disabled" id="delete-account" disabled="" data-key-aria-label="button_delete" tabindex="0">
                                                        <span>
                                                        </span>
                                                        <text rel="button_delete">
                                                            Удалить
                                                        </text>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="separator show-delete-wrapper">
                                            <div class="cols">
                                                <div class="col-32">
                                                </div>
                                                <div class="col-40">
                                                    <button aria-label="Удалить учетную запись" class="red show-delete tabEnd" data-key-aria-label="settings_account_delete_account" tabindex="0">
                                                        <text rel="settings_account_delete_account">
                                                            Удалить учетную запись
                                                        </text>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-subscription hidden">
                                        <div class="page-buy">
                                            <!-- Go premium -->
                                            <div class="separator">
                                                <div class="cols top">
                                                    <div class="col-32">
                                                        <div class="avatar-frame">
                                                            <div class="avatar large">
                                                                <span class="icon pro">
                                                                </span>
                                                                <img src="blob:https://www.wunderlist.com/716b58b9-47d4-45a7-937e-0fbf6877ed8c">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-68 pro-section-style">
                                                        <!-- Products -->
                                                        <div class="buy-options tabStart" tabindex="0">
                                                            <h3 class="upgrade-header">
                                                                <text rel="benefit_header_$" data="$benefit_name">
                                                                    Перейти на <token class="token_0" title="Wunderlist Pro">
                                                                        Wunderlist Pro
                                                                    </token>
                                                                </text>
                                                            </h3>
                                                            <p>
                                                                <text rel="benefit_header_description">
                                                                    Успевайте больше дома и на работе с неограниченным доступом ко всем функциям Wunderlist Pro.
                                                                </text>
                                                            </p>
                                                            <div class="cols">
                                                                <div class="col-50">
                                                                    <button rel="subscription_1_web_production_20130320" class="big green buy" tabindex="0">
                                                                        <strong>
                                                                            $4.99
                                                                        </strong>
                                                                        per month
                                                                    </button>
                                                                </div>
                                                                <div class="col-50">
                                                                    <button rel="subscription_12_web_production_20130320" class="big green buy" tabindex="0">
                                                                        <strong>
                                                                            $49.99
                                                                        </strong>
                                                                        per year
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <a aria-label="Планы для любых организаций " data-path="preferences/teams" class="button big green buy" role="button" data-key-aria-label="group_billing_packages_title" tabindex="0">
                                                                <text rel="group_billing_packages_title">
                                                                    Планы для любых организаций
                                                                </text>
                                                            </a>
                                                        </div>
                                                        <!-- TOU -->
                                                        <div class="pro-section-terms-of-use hidden">
                                                            <h3>
                                                                <text rel="settings_terms_of_use">
                                                                    Условия использования
                                                                </text>
                                                            </h3>
                                                            <p class="accept-terms">
                                                                <text rel="benefit_label_accept_terms" data="$settings_terms_of_use☃$settings_privacy_policy">
                                                                    Приобретая подписку на Wunderlist Pro, вы принимаете условия следующих документов: <a href="http://www.6wunderkinder.com/terms-of-use" target="_blank">
                                                                        <token class="token_0" title="Условия использования">
                                                                            Условия использования
                                                                        </token>
                                                                    </a>
                                                                    и <a href="http://www.6wunderkinder.com/privacy-policy" target="_blank">
                                                                        <token class="token_1" title="Политика конфиденциальности">
                                                                            Политика конфиденциальности
                                                                        </token>
                                                                    </a>
                                                                    .
                                                                </text>
                                                            </p>
                                                            <div class="cols">
                                                                <div class="col-50">
                                                                    <a class="button big cancel-terms-of-use">
                                                                        <text rel="button_cancel">
                                                                            Отмена
                                                                        </text>
                                                                    </a>
                                                                </div>
                                                                <div class="col-50">
                                                                    <a class="button big green accept-terms-of-use">
                                                                        <b>
                                                                            <text rel="notifications_event_accept">
                                                                                Принять
                                                                            </text>
                                                                        </b>
                                                                        <span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Premium benefits -->
                                            <div class="separator pro-benefits">
                                                <div class="cols">
                                                    <div class="col-32">
                                                        <div class="benefit attachments">
                                                        </div>
                                                    </div>
                                                    <div class="col-68" tabindex="0">
                                                        <h4>
                                                            <text rel="benefit_files_title">
                                                                Добавление файлов без ограничений
                                                            </text>
                                                        </h4>
                                                        <p>
                                                            <text rel="benefit_files_description">
                                                                Прикрепляйте к задачам файлы любых размеров и делитесь ими с коллегами.
                                                            </text>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="cols">
                                                    <div class="col-32">
                                                        <div class="benefit assigning">
                                                        </div>
                                                    </div>
                                                    <div class="col-68" tabindex="0">
                                                        <h4>
                                                            <text rel="benefit_assign_tasks_title">
                                                                Безграничные возможности совместной работы
                                                            </text>
                                                        </h4>
                                                        <p>
                                                            <text rel="benefit_assign_tasks_description">
                                                                Делитесь своими списками и нагрузкой. Поручайте любое количество задач и вместе достигайте большего.
                                                            </text>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="cols">
                                                    <div class="col-32">
                                                        <div class="benefit backgrounds">
                                                        </div>
                                                    </div>
                                                    <div class="col-68" tabindex="0">
                                                        <h4>
                                                            <text rel="benefit_additional_backgrounds_title">
                                                                Фоны рабочего стола Pro
                                                            </text>
                                                        </h4>
                                                        <p>
                                                            <text rel="benefit_additional_backgrounds_description">
                                                                Откройте для себя 10&nbsp;красивых фонов для подписки Pro и персонализируйте Wunderlist.
                                                            </text>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="cols">
                                                    <div class="col-32">
                                                        <div class="benefit subtasks">
                                                        </div>
                                                    </div>
                                                    <div class="col-68" tabindex="0">
                                                        <h4>
                                                            <text rel="benefit_unlimited_subtasks_title">
                                                                Неограниченное количество подзадач
                                                            </text>
                                                        </h4>
                                                        <p>
                                                            <text rel="benefit_unlimited_subtasks_decription">
                                                                Разбивайте крупные задачи на множество более мелких и простых без каких-либо ограничений для повышения продуктивности.
                                                            </text>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator center">
                                                <a aria-label="Позже" class="button nofloat cancel-benefits tabEnd" data-path="preferences/account" role="button" data-key-aria-label="social_sharing_button_later" tabindex="0">
                                                    <text rel="social_sharing_button_later">
                                                        Позже
                                                    </text>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer">
                            <div class="cols">
                                <div class="col-40">
                                </div>
                                <div class="col-40">
                                </div>
                                <div class="col-20">
                                    <button class="full blue close">
                                        <text rel="button_done">
                                            Готово
                                        </text>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="" id="lists" role="navigation">
            <div class="lists-inner" tabindex="0">
                <div id="search-toolbar">
                    <a title="Toggle Sidebar" class="toggle-icon" role="button" tabindex="0" data-key-title="toggle_sidebar">
                        <svg class="list-toggle" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                        <g>
                        <path d="M0.5,3.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                        <path d="M0.5,9.53l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                        <path d="M0.5,15.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="search-input-wrapper">
                        <input aria-label="Поиск…" class="chromeless search-input" data-key-aria-label="placeholder_search" type="text">
                    </div>
                    <span class="search-icon-wrapper">
                        <a aria-label="Поиск" title="Поиск" class="search-icon" role="button" tabindex="0" data-key-aria-label="aria_search" data-key-title="aria_search">
                            <svg class="search rtl-flip" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                    <g>
                                        <path d="M8.5025,15 C4.9225,15 2.0025,12.08 2.0025,8.5 C2.0025,4.92 4.9225,2 8.5025,2 C12.0825,2 15.0025,4.92 15.0025,8.5 C15.0025,12.08 12.0825,15 8.5025,15 L8.5025,15 Z M8.5025,3 C5.4625,3 3.0025,5.46 3.0025,8.5 C3.0025,11.54 5.4625,14 8.5025,14 C11.5425,14 14.0025,11.54 14.0025,8.5 C14.0025,5.46 11.5425,3 8.5025,3 L8.5025,3 Z M17.5025,18 C17.3825,18 17.2425,17.96 17.1425,17.86 L13.6425,14.36 C13.4625,14.16 13.4625,13.84 13.6425,13.64 C13.8425,13.46 14.1625,13.46 14.3625,13.64 L17.8625,17.14 C18.0425,17.34 18.0425,17.66 17.8625,17.86 C17.7625,17.96 17.6225,18 17.5025,18 L17.5025,18 Z" id="z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a aria-label="Выйти из поиска" title="Выйти из поиска" class="search-stop-icon hidden" role="button" tabindex="0" data-key-aria-label="aria_exit_search" data-key-title="aria_exit_search">

                        </a>
                    </span>
                </div>
                <div id="user-toolbar">
                    <a class="user" data-path="me" role="button" tabindex="0" aria-label="Павел Гаманович Меню пользователя." aria-expanded="false" aria-haspopup="true">
                        <span class="user-avatar">
                            <div title="Павел Гаманович" class="avatar medium">
                            </div>
                        </span>
                        <span class="user-name">
                            Павел Гаманович
                        </span>
                        <span class="user-arrow">

                        </span>
                        <div id="sync">
                            <span class="offline-wrapper hidden">

                            </span>
                            <span class="syncing-wrapper hidden">

                            </span>
                        </div>
                    </a>
                    <div class="stream-counts">
                        <a data-path="activities" aria-label="Действия 0" title="Действия" class="activities-count" data-key-title="label_activity_center">

                            <span class="count hidden">
                                0
                            </span>
                        </a>
                        <a data-path="conversations" aria-label="Беседы 0" title="Беседы" class="conversations-count" data-key-title="smart_list_conversations">

                            <span class="count hidden">
                                0
                            </span>
                        </a>
                    </div>
                </div>
                <div class="lists-scroll">
                    <ul class="pending-invites-collection"></ul>
                    @*<ul class="filters-collection">
                        <li aria-label="inbox, задачи 2" rel="inbox" class="sidebarItem active" tabindex="0" role="menuitem">
                            <a href="#/lists/inbox" aria-hidden="true">
                                <span title="Входящие" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_inbox">
                                        Входящие
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                </span>
                                <span class="count" aria-hidden="true">
                                    2
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="false" data-type="filter" aria-label="Поручены мне, задачи 1, Просроченных задач: 1" rel="assigned" class="sidebarItem overdue animate-down visible" tabindex="0" role="menuitem">
                            <a href="#/lists/assigned" aria-hidden="true">
                                <span title="Поручены мне" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_assigned_to_me">
                                        Поручены мне
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    1
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="true" data-type="filter" aria-label="Отмеченные, задачи 0" rel="starred" class="sidebarItem animate-up" tabindex="-1" role="menuitem">
                            <a href="#/lists/starred" aria-hidden="true">
                                <span title="Отмеченные" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_starred">
                                        Отмеченные
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                </span>
                                <span class="count" aria-hidden="true">
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="false" data-type="filter" aria-label="Сегодня, задачи 1, Просроченных задач: 1" rel="today" class="sidebarItem overdue animate-down visible" tabindex="0" role="menuitem">
                            <a href="#/lists/today" aria-hidden="true">
                                <span title="Сегодня" class="list-icon">

                                </span>
                                <span class="label" aria-hidden="true">
                                    26
                                </span>
                                <span class="title">
                                    <text rel="smart_list_today">
                                        Сегодня
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    1
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="false" data-type="filter" aria-label="Неделя, задачи 1, Просроченных задач: 1" rel="week" class="sidebarItem overdue animate-down visible" tabindex="0" role="menuitem">
                            <a href="#/lists/week" aria-hidden="true">
                                <span title="Неделя" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_week">
                                        Неделя
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    1
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="true" data-type="filter" aria-label="Все, задачи 5, Просроченных задач: 1" rel="all" class="sidebarItem user-disabled animate-up overdue" tabindex="-1" role="menuitem">
                            <a href="#/lists/all" aria-hidden="true">
                                <span title="Все" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_all">
                                        Все
                                    </text>
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    5
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-hidden="true" data-type="filter" aria-label="Выполненные, задачи 0" rel="completed" class="sidebarItem user-disabled animate-up" tabindex="-1" role="menuitem">
                            <a href="#/lists/completed" aria-hidden="true">
                                <span title="Выполненные" class="list-icon">

                                </span>
                                <span class="title">
                                    <text rel="smart_list_completed">
                                        Выполненные
                                    </text>
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                    </ul>*@
                    <ul class="lists-collection">
                        <li aria-label="листик, задачи 1, Просроченных задач: 1" data-position="0" rel="237758426" draggable="true" class="sidebarItem list draggable shared member unreadComments overdue" tabindex="0" role="menuitem">
                            <a href="#/lists/237758426" aria-hidden="true">
                                <span class="list-icon">

                                </span>
                                <span class="title">
                                    листик
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    1
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-label="Входящие&nbsp;— копия, задачи 0" data-position="30" rel="237715747" draggable="true" class="sidebarItem owner list draggable" tabindex="0" role="menuitem">
                            <a href="#/lists/237715747" aria-hidden="true">
                                <span class="list-icon">
                                </span>
                                <span class="title">
                                    Входящие&nbsp;— копия
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                </span>
                                <span class="count" aria-hidden="true">
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-label="Частные, задачи 0" rel="237679288" draggable="true" class="sidebarItem list draggable owner" tabindex="0" role="menuitem">
                            <a href="#/lists/237679288" aria-hidden="true">
                                <span class="list-icon">

                                </span>
                                <span class="title">
                                    Частные
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                </span>
                                <span class="count" aria-hidden="true">
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                        <li aria-label="fvsdsfsdf, задачи 0" rel="237679387" draggable="true" class="sidebarItem list draggable owner" tabindex="0" role="menuitem">
                            <a href="#/lists/237679387" aria-hidden="true">
                                <span class="list-icon">

                                </span>
                                <span class="title">
                                    fvsdsfsdf
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                </span>
                                <span class="count" aria-hidden="true">
                                </span>
                                <span aria-label="Параметры списка" title="Параметры списка" class="list-options" data-key-aria-label="sharing_list_options" data-key-title="sharing_list_options">

                                </span>
                            </a>
                        </li>
                    </ul>
                    <a class="moreButton">

                    </a>
                    <ul class="new-list-dropzone"></ul>
                </div>
                <div class="sidebarActions">
                    <a class="sidebarActions-addList">
                        <span class="sidebarActions-icon">

                        </span>
                        <span class="sidebarActions-label">
                            <text rel="placeholder_create_list">
                                Создать список
                            </text>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="animated" id="tasks" role="main">
            <div id="list-toolbar">
                <h1 class="title">
                    Входящие
                </h1>
                <div class="actionBar">
                    <div style="height: 0px;" class="actionBar-top">
                        <!-- Sorting -->
                        <ul class="actionBar-top-sort">
                            <li aria-label="По алфавиту" tabindex="0" class="first-menu-item" data-key-aria-label="actionbar_sort_alphabetically">
                                <a class="actionBar-top-sort-az">

                                    <text rel="actionbar_sort_alphabetically">
                                        По алфавиту
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="true" class="disabled" aria-label="По дате выполнения" tabindex="0" data-key-aria-label="actionbar_sort_due_date">
                                <a class="actionBar-top-sort-date">

                                    <text rel="actionbar_sort_due_date">
                                        По дате выполнения
                                    </text>
                                </a>
                            </li>
                            <li aria-label="actionbar_sort_creation_date" tabindex="0" data-key-aria-label="actionbar_sort_creation_date">
                                <a class="actionBar-top-sort-creation">

                                    <text rel="actionbar_sort_created_at">
                                        По дате создания
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="true" class="disabled" aria-label="По исполнителю" tabindex="0" data-key-aria-label="actionbar_sort_assignee">
                                <a class="actionBar-top-sort-assign">

                                    <text rel="actionbar_sort_assignee">
                                        По исполнителю
                                    </text>
                                </a>
                            </li>
                            <li aria-label="По важности" tabindex="0" class="last-menu-item" data-key-aria-label="actionbar_sort_priority">
                                <a class="actionBar-top-sort-priority">

                                    <text rel="actionbar_sort_priority">
                                        По важности
                                    </text>
                                </a>
                            </li>
                        </ul>
                        <!-- More -->
                        <ul class="actionBar-top-more">
                            <!-- duplication -->
                            <li aria-label="Дублировать список" tabindex="0" class="first-menu-item" data-key-aria-label="actionbar_duplicate_list">
                                <a aria-disabled="false" class="actionBar-top-duplicate-list">

                                    <text rel="actionbar_duplicate_list">
                                        Дублировать список
                                    </text>
                                </a>
                            </li>
                            <li aria-label="Копировать выбранные задачи" tabindex="0" data-key-aria-label="contextual_copy_selected_task">
                                <a aria-disabled="false" class="actionBar-top-copy-item">

                                    <span class="label">
                                        <text rel="contextual_copy_selected_task">
                                            Копировать выбранные задачи
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <li aria-label="Вставить задачу" tabindex="0" data-key-aria-label="contextual_paste_task">
                                <a aria-disabled="true" class="actionBar-top-paste-item hidden">

                                    <span class="label">
                                        <text rel="contextual_paste_task_plural_$" data="0">
                                            Вставить задачи (<token class="token_0" title="0">
                                                0
                                            </token>
                                            )
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <li aria-label="Отправить список" tabindex="0" data-key-aria-label="button_email_list">
                                <a class="actionBar-top-email-all">

                                    <text rel="button_email_list">
                                        Отправить список
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="false" class="" aria-label="Отправить по эл. почте" tabindex="0" data-key-aria-label="actionbar_email_selected_item">
                                <a class="actionBar-top-email-selected">

                                    <span class="email-items-label">
                                        <text rel="actionbar_email_selected_item">
                                            Отправить по эл. почте
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- print -->
                            <li aria-label="Печать списка" tabindex="0" class="" data-key-aria-label="button_print_list">
                                <a class="actionBar-top-print-all">

                                    <text rel="button_print_list">
                                        Печать списка
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="false" aria-label="Печать выбранной задачи" tabindex="0" class="" data-key-aria-label="actionbar_print_selected_item">
                                <a class="actionBar-top-print-selected">

                                    <span class="print-items-label">
                                        <text rel="actionbar_print_selected_item">
                                            Печать выбранной задачи
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- do not disturb -->
                            <li aria-label="Не беспокоить" tabindex="0" class=" disabled " data-key-aria-label="options_do_not_disturb">
                                <a class="actionBar-top-do-not-disturb">

                                    <span class="un-mute">
                                        <text rel="options_do_not_disturb">
                                            Не беспокоить
                                        </text>
                                    </span>
                                    <span class="status-label right on ">
                                        <text rel="label_on">
                                            Включено
                                        </text>
                                    </span>
                                    <span class="status-label right off active">
                                        <text rel="label_off">
                                            Выключено
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- delete selected item -->
                            <li aria-disabled="false" aria-label="Удалить" tabindex="0" class="last-menu-item" data-key-aria-label="button_delete">
                                <a aria-disabled="false" class="actionBar-top-trash">

                                    <span class="delete-items-label">
                                        <text rel="menubar_delete_task">
                                            Удалить выбранную задачу
                                        </text>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="actionBar-bottom">
                        <a aria-disabled="true" aria-label="Поделиться" class="tab share first-tab disabled" data-menu="share" role="button" tabindex="0" data-key-aria-label="button_label_publiclist_share">

                            <span class="tab-text">
                                <text rel="button_label_publiclist_share">
                                    Поделиться
                                </text>
                            </span>
                        </a>
                        <a aria-disabled="false" aria-label="Сортировать список" class="tab sort-az" data-menu="sort" role="button" tabindex="0" data-key-aria-label="aria_sort_list">

                            <span class="tab-text">
                                <text rel="button_sort">
                                    Сортировка
                                </text>
                            </span>
                        </a>
                        <a aria-label="Еще" class="tab last-tab" data-menu="more" role="button" tabindex="0" data-key-aria-label="button_more">

                            <span class="tab-text">
                                <text rel="button_more">
                                    Еще
                                </text>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tasks-scroll">
                <div class="addTask">
                    <div class="addTask-meta">
                        <a title="Отмеченная звездочкой задача" class="addTask-meta-star right" data-key-title="settings_general_starr_item">

                        </a>
                        <a title="Кому назначено" class="addTask-meta-assign right hidden" data-key-title="label_assign_to">

                            <span class="icon input-assign-frame">
                            </span>
                            <span class="icon input-assign-delete">
                            </span>
                        </a>
                        <a title="Задать дату выполнения" class="addTask-meta-date right" data-key-title="placeholder_set_due_date">
                            <span class="addTask-meta-date-label">
                            </span>
                            <span class="icon input-assign-delete">
                            </span>

                        </a>
                        <div class="addTask-meta-nlp right">
                        </div>
                    </div>
                    <a class="plus-wrapper">

                    </a>
                    <input aria-label="Добавить задачу в папку «Входящие»…" placeholder="Добавить задачу…" data-aria-label="Входящие" data-placeholder="Входящие" data-key-aria-label="placeholder_add_task_to_$" data-key-placeholder="placeholder_add_task_mobile" class="addTask-input chromeless" maxlength="255" type="text">
                    <div class="nlp-feedback">
                    </div>
                    <div class="positionHelper">
                        <div class="positionHelper-text">
                        </div>
                        <div class="positionHelper-target">
                        </div>
                    </div>
                    <div class="end-positionHelper-target">
                    </div>
                </div>
                <div class="task-list inbox">
                    <ol class="tasks">
                        <li draggable="true" aria-label="орпоорлопропропропрНажмите клавишу TAB, чтобы отобразить дополнительные параметры." rel="1651905468" class="taskItem selected" tabindex="0">
                            <div class="taskItem-body">
                                <a class="taskItem-checkboxWrapper checkBox" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить как завершенную" data-key-title="contextual_mark_as_completed">

                                    </span>
                                    <span title="Пометить как незавершенную" data-key-title="contextual_mark_as_notcompleted">

                                    </span>
                                </a>
                                <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                                    <span class="taskItem-titleWrapper-title">
                                        орпоорлопропропропр
                                    </span>
                                </div>
                                <span title="В этой задаче есть комментарии" class="conversations-wrapper hidden " data-key-title="voiceover_task_comments_icon">

                                </span>
                                <span title="В этой задаче есть вложения" class="attachment-wrapper hidden" data-key-title="voiceover_task_attachments_icon">

                                </span>
                                <span class="taskItem-duedate  hidden" tabindex="-1" aria-hidden="true">
                                </span>
                                <span title="Recurring to-do" class="recurrence-wrapper  hidden" tabindex="-1" aria-hidden="true" data-key-title="recurring_icon_title">

                                </span>
                                <a class="taskItem-assign hidden" tabindex="-1" aria-hidden="true">
                                </a>
                                <a class="taskItem-star" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить звездочкой" class="star-wrapper " data-key-title="contextual_mark_as_starred">

                                    </span>
                                    <span title="Убрать пометку звездочкой" class="starred-wrapper hidden" data-key-title="contextual_mark_as_unstarred">

                                    </span>
                                </a>
                                <div class="taskItem-progress transparent">
                                    <span class="taskItem-progress-bar">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li draggable="true" aria-label="xhfhkНажмите клавишу TAB, чтобы отобразить дополнительные параметры." rel="1653333238" class="taskItem" tabindex="0">
                            <div class="taskItem-body">
                                <a class="taskItem-checkboxWrapper checkBox" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить как завершенную" data-key-title="contextual_mark_as_completed">

                                    </span>
                                    <span title="Пометить как незавершенную" data-key-title="contextual_mark_as_notcompleted">

                                    </span>
                                </a>
                                <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                                    <span class="taskItem-titleWrapper-title">
                                        xhfhk
                                    </span>
                                </div>
                                <span title="В этой задаче есть комментарии" class="conversations-wrapper hidden " data-key-title="voiceover_task_comments_icon">

                                </span>
                                <span title="В этой задаче есть вложения" class="attachment-wrapper hidden" data-key-title="voiceover_task_attachments_icon">

                                </span>
                                <span class="taskItem-duedate  hidden" tabindex="-1" aria-hidden="true">
                                </span>
                                <span title="Recurring to-do" class="recurrence-wrapper  hidden" tabindex="-1" aria-hidden="true" data-key-title="recurring_icon_title">

                                </span>
                                <a class="taskItem-assign hidden" tabindex="-1" aria-hidden="true">
                                </a>
                                <a class="taskItem-star" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить звездочкой" class="star-wrapper " data-key-title="contextual_mark_as_starred">

                                    </span>
                                    <span title="Убрать пометку звездочкой" class="starred-wrapper hidden" data-key-title="contextual_mark_as_unstarred">

                                    </span>
                                </a>
                                <div class="taskItem-progress transparent">
                                    <span class="taskItem-progress-bar">
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <h2 aria-label="Показать завершенные задачи" class="heading normal" role="heading" aria-role="list" tabindex="0">
                        <a class="groupHeader completed-items-heading" data-path="lists/inbox" href="/#/lists/inbox" aria-label="Показать завершенные задачи">
                            <text rel="settings_show_completed_tasks_mobile">
                                Показать завершенные задачи
                            </text>
                        </a>
                    </h2>
                    <ol class="tasks hidden">
                        
                    </ol>
                </div>
                <div class="tasks-404 hidden">
                </div>
            </div>
        </div>


    </div>
</body>

</html>