@{
    ViewBag.Title = "MainPage";
}

    <html ng-app="myApp">
    <head>
        
        <script>
            var myApp = angular.module('myApp', []);
        </script>
        <script src="~/Scripts/controllers/ListController.js"></script>

    </head>

    <body>

    <div ng-controller="ListController">

        <div ng-repeat="phone in phones">
            <p>{{phone.Title}}</p>
        </div>

    </div>

        
    </body>
    </html>


