@{
    ViewBag.Title = "MainPage";
}
<html ng-app="myApp">
@section Header
{
    <h2>MainPage</h2>
}

@section Center
{
    <body>
    <div ng-controller="ListController">
        <nav><a href="#/ShowLists">Lists</a></nav>
        <ng-view></ng-view>
    </div>
    <script>
        angular.module('myApp', []);
    </script>
    <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/route/app.js"></script>
        <script src="~/Scripts/controllers/listsController.js"></script>
    </body>
    }
</html>