@{
    ViewBag.Title = "Start";
}
@section Header
{

}
}

@section Center
{
    <div id="change" style="width: 220px"></div>
    <div id="changefail" style="width: 220px"></div>
    <div id="loading" style="display: none; color: red; font-size: x-large">Loading...</div>

    <div id="modDialog" class="modal">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
<div>@Html.ActionLink("MainPage", "MainPage", "Home")</div>
}